* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background: #E5E5E5;
}

/*menu Principal*/
.titulo .menu {
	margin-bottom: 60px;
	width: 100%;
	height: 60px;
	padding: 5px;
}

.titulo .menu ul {
	font-size: 36px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #575373;
	cursor: pointer;

	display: flex;
	list-style: none;
	margin-left: 15px;
}

.titulo .menu li {
	margin-right: 25px;
}

/*Titulo de la pagina*/
.titulo {
	width: 100%;
	height: 40px;
	margin-top: 30px;
}

.titulo h1 {
	font-size: 60px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	color: #A9A5D5;

	text-align: center;
}

/*Contenido principal*/
.main {
	padding: 50px;
	width: 100%;
	margin-top: 40px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.main .article {
	margin-top: 120px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main .article .p1 {
	color: #575373;
	width: 586px;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: left;
	
}

.main .article .p2 {
	color: #575373;
	width: 586px;
	font-size: 22px;
	font-family: sans-serif;
	font-weight: bold;
	text-align: left;
}

/*Galeria de imagenes*/
.imagenes {
	padding: 20px;
	width: 100%;
	margin-top: 40px;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.imagenes .div {
	box-shadow: 0px 4px 18px #000000;
	border-radius: 16px;
	background: #575373;
	width: 490px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.imagenes .div  .titu {
	margin-bottom: 12px;
	color: white;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 60px;
}

.imagenes .div img {
	cursor: pointer;
	width: 278px;
	height: 275px;
}

.div .pai {
	margin-top: 39px;
	font-size: 22px;
	font-family: sans-serif;
	color: #D2FAF8;
	padding: 10px;
	text-align: center;
}

.imagenes .cora {
	cursor: pointer;
	box-shadow: 0px 4px 18px #000000;
	border-radius: 50px;
	width: 60px;
	height: 60px;
	background: #342F2F;
	margin-top: 10px;
	margin-left: 380px;
}

.imagenes .zones img {
	cursor: pointer;
	width: 36px;
	height: 43px;
	margin-top: 10px;
	margin-left: 12px;
}

/*Parrafos con imagenes intercaladas*/
.main .casi {
	width: 100%;
	margin-top: 110px;
	margin-left: 30px;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.casi img {
	cursor: pointer;
	width: 449px;
	height: 480px;
}

.casi  .pa {
	margin-left: 30px;
	color: #575373;
	font-size: 26px;
	font-family: sans-serif;
	font-weight: bold;
}

.casi .pa2 {
	margin-top: 20px;
	margin-left: 30px;
	color: #575373;
	font-size: 26px;
	font-family: sans-serif;
	font-weight: bold;
}

.main .casi1 {
	width: 100%;
	margin-top: 80px;
	margin-left: 30px;

	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	align-items: center;
}

.casi1 img {
	cursor: pointer;
	margin-left: 30px;
	width: 449px;
	height: 480px;
}

.casi1 .pa1 {
	color: #575373;
	font-size: 26px;
	font-family: sans-serif;
	font-weight: bold;
}

.casi1 .pa3 {
	margin-top: 20px;
	color: #575373;
	font-size: 26px;
	font-family: sans-serif;
	font-weight: bold;
}

/*Fin de la pagina*/
footer {
	width: 100%;
	margin-top: 80px;

	text-align: center;
}

footer .fot {
	font-size: 26px;
	font-family: sans-serif;
	color: #342F2F;
	cursor: pointer;
	padding: 20px;
}

.x {
	display: none;
}

/*Media queries*/
@media(max-width: 800px) {

/*Menú principal*/
	.titulo .menu {
		margin-bottom: 0;
	}

	.titulo .menu ul {
		font-size: 30px;
		justify-content: center;
		margin-bottom: 60px;
	}
/*Titulo*/
	.titulo {
		margin-top: 45px;
	}

	.titulo h1 {
		margin-top: 55px;
		font-size: 50px;
	}
/*Primeros parrafos*/
	.main .article {
		margin-top: 88px;
		flex-direction: column;
		align-items: center;
	}

	.main .article .p1 {
		width: 556px;
		text-align: center;
		font-size: 22px;
	}

	.main .article .p2 {
		width: 556px;
		text-align: center;
		font-size: 22px;
		margin-top: 43px;
		margin-bottom: 60px;
	}
/*Galeria de imagenes*/
	.imagenes {
		margin-top: 0px;
		padding: 0;
		flex-direction: column;
		align-items: center;
	}

	.imagenes .div {
		width: 485px;
		height: 541px;
		margin: 0px auto;
		margin-bottom: 60px;

	}

	.imagenes .div > img {
		width: 278px;
		height: 275px;
	}

	.imagenes .div  .titu {
		padding: 0;
		font-size: 40px;
	} 

	.imagenes .cora {
		margin-right: 70px;
	}

	.div .pai {
		margin-top: 32px;
		padding: 0;
	}
/*Parrafos con imagenes intercaladas*/
	.main .casi {
		margin-top: 60px;
		margin-left: 0;
		flex-direction: column;
	}

	.main .casi img {
		width: 640px;
		height: 520px;
	}

	.main .casi .pa {
		font-size: 22px;
		margin-left: 0;
		margin-top: 60px;
		text-align: center;
	}

	.main .casi .pa2 {
		font-size: 22px;
		margin-left: 0;
		margin-top: 60px;
		text-align: center;
	}

	.main .casi1 {
		margin-top: 60px;
		margin-left: 0;
		flex-direction: column;
	}

	.main .casi1 img {
		margin-left: 0;
		width: 640px;
		height: 520px;
	}

	.main .casi1 .pa1 {
		font-size: 22px;
		margin-left: 0;
		margin-top: 60px;
		text-align: center;
	}

	.main .casi1 .pa3 {
		font-size: 22px;
		margin-left: 0;
		margin-top: 60px;
		text-align: center;
	}
/*Imagen agregada*/
	.x {
		display: flex;
		margin-top: 60px;
		width: 640px;
		height: 520px;
		margin-bottom: 65px;
	}
/*Fin de la pagina*/
	footer {
		margin-bottom: 15px;
		margin-top: 0;
	}

}	

